a {
  text-decoration: none;
  cursor: pointer;
}
p {
  padding-top: 10px;
  margin: 10px;
  font-size: 1.2em;
}
button .ui .blue .large .button .grab-list-button {
  margin: 1em;
}
.borderless-button {
  cursor: pointer;
  text-decoration: underline;
  border: none;
  margin-top: 15px;
  font-size: 1.2em;
}
