.flex-container {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-flex-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cta-button {
  margin: 20px;
  font-size: 1.2rem;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: forestgreen;
  border: none;
}
.token-input {
  margin: 15px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.borderless-button {
  cursor: pointer;

  border: none;
}
