@media only screen and (max-width: 600px) {
  .flash {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-left: 10px solid rgb(178, 20, 14);
    border-radius: 2px;
    background-color: rgb(240, 128, 128, 0.1);
  }
}
@media only screen and (min-width: 800px) {
  .flash {
    font-size: 1.6rem;
    margin-top: 1.25rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding: 1rem;
    border-left: 1rem solid rgb(178, 20, 14);
    border-radius: 2px;
    background-color: rgb(240, 128, 128, 0.1);
  }
}
